.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

 .menu {
  display: flex;
  flex-direction: column;
  height: 120%;
  margin: 0;
  padding: 0;
  background: var(--color-blue-dark);
}

 .menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px var(--color-gold);
}

 .menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: var(--color-beige);
  font-size: 5vh;
}

 .menu__item-link:hover {
  color: var(--color-gold);
}

 .menu__item-link:focus:not(:focus-visible) {
  color: var(--color-beige);
}

 .marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: var(--color-green-dark);
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

 .marquee span {
  color: var(--color-gold);
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw 0;
}

 .marquee__img {
  width: 300px;
  height: 10vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
  border: 3px solid var(--color-brown);
}

.menu__item-link:hover + .marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
